
*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #A8D8EA;
    /* background-color: #F6F6F6; */
    /* background-color: #c6d7e4; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    padding-bottom: 3%;
    background-color: #FFFFD2;
    /* background-color: #C7FFD8; */
    border-radius: 1rem;
    border: 10px solid;
    /* border-width: 1rem; */
    border-color: #AA96DA;
    /* border-color: #161D6F; */
    width: 35%;
    /* height: 100%; */
    /* min-height: 50%; */
}
.heading{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.countries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 1%; */
    border: 2px solid lightgray;
    /* margin-top: 1px; */
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    /* background-color: #A8D8EA; */
    
    background-color: #fafa8d;
    
}
.exchangeButtonClass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    size: 5%;
}

.form .exchangeButton,input, select{
    /* background-color: #fafabf; */
    background-color: #f8f8a4;
    /* background-color: #C7FFD8; */
    /* width: 100%; */
    /* border: none; */
    outline: none;
    border: 2px solid lightgray;
    /* margin-top: 1px; */
    margin-bottom: 0.5rem;
    border-radius: .3rem;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}
 #selectFrom, #selectTo{
    border: none;
    outline: none;
    cursor: pointer;
    /* background-color: #A8D8EA; */
}
form button{
    height: 3rem;
    background-color: #c696da;
    /* background-color: #161D6F; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.logo{
    margin: 0 2rem 0 2rem;
    font-size: 2rem;
}